[
	{log_level, debug},  %debug, info, warning, or error
	{required_modules, [connection_pool_server, loadtest_runner]},
	{runners,   [
		[
			{host,"loadtest5.dev"}, {duration,180}, {tps,300},
			{mfa, {epic_httpc,get,["http://192.168.14.76:9010/zone/10069", [{"host", "ads.qa.openads.dev"}] ]} }
		]
	]}
].
