[
	{log_level, debug},  %debug, info, warning, or error
	{required_modules, [connection_pool_server, loadtest_runner, epic_http]},
	{runners,   [
		[
			{host,"loadtest3.dev"}, {duration,180}, {tps,200},
			{mfa, {epic_http,get,["http://192.168.20.61/zone/10069", [{"host", "ads2.azjmp.com"}] ]} }
		],
		[
			{host,"loadtest4.dev"}, {duration,180}, {tps,200},
			{mfa, {epic_http,get,["http://192.168.20.61/zone/10069", [{"host", "ads2.azjmp.com"}] ]} }
		],
		[
			{host,"loadtest5.dev"}, {duration,180}, {tps,200},
			{mfa, {epic_http,get,["http://192.168.20.61/zone/10069", [{"host", "ads2.azjmp.com"}] ]} }
		]
	]}
].
