[
	{log_level,        debug},  % debug, info, warning, or error
	{required_modules, [connection_pool_server, loadtest_runner, http_client]},
	{runners,   [ 
		[	{host,     "192.168.14.244"},         % For 60 seconds, run my_module:my_fun(500) 500 times per seconds at host 192.168.14.244
			{duration, 60}, 
			{mfa,      {my_module,my_fun,[500]} }, 
			{tps,      500}], 
		[	{host,     "192.168.14.253"},         % For 60 seconds, run my_module:my_fun(500) 500 times per seconds at host 192.168.14.244
		  {duration, 60}, 
			{mfa,      {my_module,my_fun,[500]} }, 
			{tps,      500}],
		[ {host,     "192.168.14.246"},         % For 60 seconds, run my_module:my_fun(500) 500 times per seconds at host 192.168.14.244
		  {duration, 60}, 
			{mfa,      {my_module,my_fun,[500]} }, 
			{tps,      500}]  
	]}
].
